<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " style="padding-left: 56px;padding-right:56px;background-color:#65e8b4">
        <span class="navbar-brand mb-0 h1">Connect Bazaar</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0 mx-5">
            <input class="form-control mr-sm-2" style="width:500px" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            
          </ul>
        </div>
      </nav> -->
      <!-- <% layout('layouts/boilerplate') %>
      <%- include('../partials/navbar') %> -->
      <!-- <h1 class="text-center">PRODUCTS</h1> -->
      <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/46e559e98b.js" crossorigin="anonymous"></script>

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/home.css">  -->
    <title>Document</title>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">

    <link rel="stylesheet" href="/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="/css/owl-carousel.css">

    <link rel="stylesheet" href="/css/lightbox.css">
    <style>
        #product .left-images img {
            
            overflow: hidden;
            margin-bottom: 30px;
            height: 400px;
            width: 400px;
        }
    </style>

</head>
<body> 
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="padding-left: 100px; padding-right: 100px; background-color:black; height: 90px;">
    <span class="navbar-brand mb-0 h1" style="color: white;">Connect Bazaar</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 mx-5">
            <input class="form-control mr-sm-2" style="width: 400px;" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto" style="margin-left: 550px;">
          <li class="nav-item dropdown">
            <%  if(!currentUser) {%>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                  WELCOME!
              </a>
              <% } else { %>
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                 <%= currentUser.username %>
             </a>
             <% } %>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%  if(!currentUser){%>
                 <a class="dropdown-item" href="/login" style="color: black;">Login</a>
                 <%  }  else {%>
                 <a class="dropdown-item" href="/product/new" style="color: black;">Sell</a>
                 <div class="dropdown-divider"></div>
                 <a class="dropdown-item" href="/logout" style="color: black;">Logout</a>
                 <% }%>
             </div>
         
    </div>
</nav> 
  
         <div class="row" style="margin-top:100px"> 
        
              <div class="col-lg-6 mt-3">
          <div class="card mx-auto" style="width: 18rem;">
              
                  
              <img class="card-img-top" src="<%=foundProduct.img%>" alt="Card image cap" >
              <div class="card-body">
                <h3 class="card-title"><%=foundProduct.name%></h3>
                <h5 class="card-title">&#8377; <%=foundProduct.price%>/-</h5>
                <p class="card-text"><%=foundProduct.desc%></p>
                
                <form  method="POST"  action="/user/<%=foundProduct._id%>/add">
                   
                <button class="btn btn-sm btn-info">Add to cart</button>
                    
                </form>


             
                
              </div>
          </div>
             
            </div>
             </div>  

             
      
          
      
      
  
  
  
     
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  
    
</body>
</html>

 